.main-list-user {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.wraper-list-user {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  box-shadow: 10px 3px 26px -13px rgba(0,0,0,0.75);
  border-radius: 4px;
  padding: 10px;
}

.btn-add {
  background-color: blueviolet;
  border-width: 0px;
  padding: 8px 10px;
  color: white;
  align-self: flex-start;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 2px;
}

.btn-add:active {
  opacity: .5;
}

.table-header {
  display: flex;
  flex-direction: row;
}

.table-header div {
  flex: 1;
  text-align: left;
}

.wraper-body-table {
  overflow: auto;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.table-row div {
  display: flex;
  flex: 1;
  text-align: left;
  padding: 4px 0;
}

.bg-secondary {
  background-color: rgb(165, 164, 164);
}

.bg-danger {
  background-color: rgb(209, 86, 86);
}

.bg-primary {
  background-color: rgb(69, 90, 211);
}

.bg-success {
  background-color: rgb(87, 177, 87);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #adadad; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}