.main-nav {
  padding: 10px;
  background-color: #8093F1;
  display: flex;
  justify-content: center;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 13px;
}

.main-nav li {
  padding: 4px 10px;
  margin: 0 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .5s;
  font-weight: bold;
}

.main-nav li:hover {
  background-color: #D7DAE5;
  color: rgb(39, 37, 37);
}

/* git */
.test-git {
  color: white;
}